{% load static %}
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Orlando Saraiva do Nascimento Júnior">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>Biblioteca</title>
</head>

<body>
    <header>
        <h1>Biblioteca</h1>
        <h2>Cadastro de Livros</h2>
    </header>

    <form action="{% url 'core:cadastro' %}" novalidate method="POST" enctype="multipart/form-data">
        <br>
        {% csrf_token %}
        <div class="form-field">
            <label for="{{ formulario_livro.titulo.id_for_label }}">Título:</label>
            <input> {{ formulario_livro.nome }}</input>
        </div>
        <br>
        <div class="form-field">
            <label for="{{ formulario_livro.editora.id_for_label }}">Quantidade:</label>
            {{ formulario_livro.quantidade }}
        </div>
        <br>
        <div class="form-field">
            <label for="{{ formulario_livro.editora.id_for_label }}">Autor:</label>
            {{ formulario_livro.autor }}
        </div>
        <br>
        <div class="form-field">
            <label for="{{ formulario_livro.editora.id_for_label }}">ISBN:</label>
            {{ formulario_livro.isbn }}
        </div>
        <br>
        <div class="form-field">
            <label for="{{ formulario_livro.editora.id_for_label }}">Numero de Paginas:</label>
            {{ formulario_livro.numero_paginas }}
        </div>
        <br>
        <div class="form-field">
            <label for="{{ formulario_livro.editora.id_for_label }}">Ano de escria da obra:</label>
            {{ formulario_livro.ano }}
        </div>
        <br>
        <div class="form-actions">
            <center>
                <input type="submit" value="Cadastrar">
            </center>
        </div>
    </form>
    <br><br>
    {% if formulario_livro.errors %}
    <div class="form-errors">
        {% for field in formulario_livro %}
        {% for error in field.errors %}
        <strong>{{ error|escape }}</strong><br>
        {% endfor %}
        {% endfor %}
    </div>
    {% endif %}

    <div class="form-actions">
        <center>
            <form action="{% url 'core:index' %}" novalidate method="GET">
                <input type="submit" value="Voltar">
            </form>
        </center>
    </div>
</body>

</html>